@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  postition: relative;
  overflow: hidden;
  box-sizing: border-box;
}

details {
  user-select: none;
  max-height: 62px;
}
details summary svg {
  transform: rotate(90deg);
}

details[open] {
  background: white;
  color: black;
  max-height: 100vh;
}
details[open] summary svg {
  transform: rotate(-90deg);
}

details[open] summary ~ * {
  animation: ease-opacity-t-b 0.5s ease;
}

summary {
  cursor: pointer;
}

svg {
  transition: all 0.3s ease-in-out;
}

summary::-webkit-details-marker {
  display: none;
}

.linkClass{
  @apply block pl-3 text-corporateGray border-l-2 border-corporateBlack mb-2;
}
.linkActiveClass{
  @apply text-corporateLight border-l-2 border-corporate;
}
.linkHoverClass{
  @apply border-l-2 hover:border-corporateGray;
}

.glossyEffect{
  @apply backdrop-blur-[2px] bg-white bg-opacity-20 shadow-red-100 rounded-lg border-b-4 border-corporate;
  box-shadow: 0 0 1rem 0 rgb(0 0 0 / 20%);
}
.customInput{
  @apply w-full border-b-2 placeholder-transparent border-corporateGray bg-transparent focus:outline-none focus:border-2 pt-2 pl-2 pr-2 focus:rounded-md;
}
.customLabel{
  @apply absolute left-0 -top-4 text-base text-corporateBlack transition-all duration-300 ease-in-out peer-placeholder-shown:text-base peer-placeholder-shown:text-corporate peer-placeholder-shown:top-2 peer-focus:-top-4 peer-focus:left-2 peer-focus:bg-corporateLight peer-focus:px-1;
}
.customBtn{
  @apply w-1/2 p-2 font-semibold text-sm bg-corporate text-corporateLight rounded-full shadow-sm hover:scale-105 ease-out duration-300;
}



::selection {
  background-color: #8B8F9A;
  color: #FFEBEC;
}

/* Scroll bar */
body {
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 5px;
  margin: 0px 2px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #fff;
  -webkit-box-shadow: inset 0 0 5px #fff;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #FF3E41 !important;
  -webkit-background: #FF3E41 !important;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #171F34 !important;
  -webkit-background: #171F34 !important;
}